head
	title Meet someone new everyday!
	script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyA7IAO-ePgFeXNnLkWmoozn_npsE6pjFZI")
	meta(name="viewport" content="width=device-width, user-scalable=no")
	link(rel="icon"  href="/favicon.ico")