@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

nav, h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto Slab', serif;
}

html {
	background-color: #eee;
	// max-width:$medium-screen-up;
	margin:auto;
}

html, body, #__blaze-root{
	height:100%;
	width:100%;
	// max-width:100%;
	// overflow:hidden;
}

#guest{
	padding:2rem 0.5rem;
	background-color:$primary-color;
	height:100%;

	.col{
		background-color:white;
	}
}

nav{
	a:hover{
		color:white;
		text-decoration:none;
	}

	.lnr{
		display: block;
		font-size: 24px;
		height: 56px;
		line-height: 56px;
	}

	.brand-logo{
		font-size:1.5rem!important;
	}
}
@media #{$medium-and-up} {
  nav .nav-wrapper span.lnr {
    height: $navbar-height;
    line-height: $navbar-line-height;
  }
}


#app{
	height:100%;
	max-height:calc(100% - #{$navbar-height-mobile});
	@media #{$medium-and-up} {
		max-height: calc(100% - #{$navbar-height});
	}
	overflow:auto;
}

main{
	padding:1.5rem!important;
}

hr{
	height:0px;
	border-width:0px;
	border-top:1px solid color('grey', 'lighten-2');
	margin:1.5rem 0;
}

.toolbar{
	position:fixed;
	height:80px;
	width:100%;
	bottom:0;

	.actions{
		width:50%;
		margin:auto;
		padding-bottom:1.5rem;
		clear:both;
	}
}

#sendMessage{
	position:fixed;
	bottom:0;
	width:100%;
	border-top:1px solid color('grey', 'lighten-2');
}

// Header
.header{
	color:$primary-color;
	font-weight:300;

	small{
		display:block;
		color:color("grey", "darken-2");
	}
}

// Subheader
.subheader{
	color:color("grey", "darken-2");
	padding:1rem;
	padding-bottom:0;

	&.divided{
		border-top:1px solid $collection-border-color;
		margin-top:1rem;
	}
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'),
			 local('MaterialIcons-Regular'),
			 url(/fonts/materialicons/MaterialIcons-Regular.woff2) format('woff2'),
			 url(/fonts/materialicons/MaterialIcons-Regular.woff) format('woff'),
			 url(/fonts/materialicons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

.tabs-content.carousel { height: 100%!important; }