#guest main.container{
	width:100%;

	.col.z-depth-1{
		@extend .white;
		padding:.5em 2em;
	}
}

.tabs .badge{
	$size:24px;
	display:inline-block;
	border-radius:50%;
	position:absolute;
	height:$size;
	width:$size;
	line-height:$size;
	text-align:center;
	margin-left:3px;
	margin-top:10px;
	color:white;
	font-size:12px;
	font-weight:500;
	@extend .z-depth-1, .grey;
}

.category{
	margin:auto;
	text-align:center;
	
	.card{
		border-radius:50%;
		margin:0;
		margin: 1rem 0 0.5rem;
		line-height: 100%;

		img{
			padding:20%;
		}

		border:.4em solid transparent;
		&.active{
			border:.4em solid $primary-color;
		}
	}
}

#tindercontainer{
	padding:0 1.5rem;
}

#tinderslide {
	position: relative;
	height: 100%;

	.thin{padding-top:0}
}

#tinderslide ul {
	margin: 0;
	position: relative;
	display: block;
	height: 100%;
}

#tinderslide li.card {
	display: block;
	width: 100%;
	height: auto;
	overflow: hidden;
	position: absolute;
	top: 0;
	
	-webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
	-moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
	-ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
	-o-transform: translate3d(0%,0,0) scale3d(1,1,1);
	transform: translate3d(0%,0,0) scale3d(1,1,1);
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

#tinderslide p{
	text-align:center;
	padding:1.5rem;
}

// .cards{
// 	.card{
// 		position:absolute;
// 		left:1em;
// 		right:1em;
// 		// bottom:1.5rem;
// 		// top:calc(#{$navbar-height-mobile} + 1.5rem);

// 		.buttons{
// 			height:20%;
// 			text-align:center;

// 			.btn-floating{
// 				margin:1.5rem;
// 				position:static;
// 			}
// 		}
// 	}
// }